//- Progress
	@param {string} data.class - progress bar class
	@param {number} data.value - progress value
	@param {boolean} data.label - progress label
	@param {boolean} data.vertical - progress vertical
mixin progress( data )
	- if ( data.vertical )
		.progress.progress-vertical&attributes( attributes )
			.progress-bar( role='progressbar', style='height: ' + data.value + '%', aria-valuenow= data.value, aria-valuemin='0', aria-valuemax='100', class= data.className )= data.label ? data.value : ''
	- else
		.progress&attributes( attributes )
			.progress-bar( role='progressbar', style='width: ' + data.value + '%', aria-valuenow= data.value, aria-valuemin='0', aria-valuemax='100', class=data.className )= data.label ? data.value : ''

//- Progress
	@param {string} data.class - progress bar class
	@param {number} data.value - progress value
	@param {boolean} data.label - progress label
	@param {boolean} data.vertical - progress vertical
mixin progress-multiple( data )
	- if ( data.vertical )
		.progress.progress-vertical&attributes( attributes )
			each item in data.values
				.progress-bar( role='progressbar', style='height: ' + item.value + '%', aria-valuenow= item.value, aria-valuemin='0', aria-valuemax='100', class= item.className )= item.label ? item.value : ''
	- else
		.progress&attributes( attributes )
			each item in data.values
				.progress-bar( role='progressbar', style='width: ' + item.value + '%', aria-valuenow= item.value, aria-valuemin='0', aria-valuemax='100', class=item.className )= item.label ? item.value : ''
