//- Breadcrumbs
	@param {Array} path - navigation path
	@example +breadcrumbs([ { title:'About Us', link:'about-us.html' }, { title:'Team member' } ])
mixin breadcrumbs( path )
	// Breadcrumbs
	ul.breadcrumbs
		li.breadcrumbs-item
			a.breadcrumbs-link( href= homePage.link )
				span.breadcrumbs-icon( class= homePage.icon || null )
				span= homePage.title

		if ( path[ 0 ].title.toLowerCase() !== homePage.title.toLowerCase() )
			- for ( var i = 0; i < path.length; i++ )
				- var pathItem = path[i];
				li.breadcrumbs-item
					if ( i === path.length - 1 || pathItem.link === '#' )
						= pathItem.title
					else
						a.breadcrumbs-link( href= pathItem.link )= pathItem.title
